html{font-family: 'Roboto', sans-serif;}
    header{
    width: 1182px;
    height: 100px;
    margin-left: 128px;
    background-color: #5485A0;
}
a {
    text-decoration: none;
    color: white;
}

.ikit{
    margin: 20px 0px 0px 30px;
    float: left;
}
.FIO{
    float: left;
    margin: 42px 0px 0px 726px;
    color: white;
    font-size: 14px;    
}
.box1{
    width: 280px;
    height: 800px;
    margin: 23px 0px 0px 130px;
    background-color: #B2A38B;
    float: left;
}
.box2{
    float: left;
    background-color: #C4C4C4;
    width: 580px;
    height: 800px;
    margin: 23px 0px 0px 20px;
}
.text{
    padding-top: 48px;
    text-align: center;
    font-size: 24px;
}
.text2{
    font-size: 14px;
    padding: 22px 40px 0px 32px;
    text-align: center;
}
.box3{
    float: left;
    background-color: #689333;
    width: 280px;
    height: 800px;
    margin: 23px 0px 0px 20px;
}
footer{
    width: 1180px;
    height: 75px;
    margin: 849px 0px 0px 130px;
    background-color: #8854A0;    
}
.foot{
font-size: 14px;
padding: 30px 0px 0px 28px;
color: white;
float: left;
}
.foot2{
    float: left;
    font-size: 14px;
    padding: 30px 0px 0px 479px;
    color: white;
}
